// Automatically injected Bower dependencies via wiredep (never manually edit this block)
@font-face {
  font-family: 'san francisco';
  src: url('../fonts/sanfranciscotext-light-webfont.woff2') format('woff2'),
       url('../fonts/sanfranciscotext-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'san francisco';
  src: url('../fonts/sanfranciscotext-regular-webfont.woff2') format('woff2'),
       url('../fonts/sanfranciscotext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}