.info {
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 4px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    margin: 0;

    li {
      text-align: center;
      border-radius: 4px 4px 0 0;
      font-size: 15px;
      color: #369BF8;
      background: #F2F2F6;
      width: 33.33333%;
      line-height: 23px;
      padding: 20px 0;
      border-left: 1px solid #E2E2E4;
      border-bottom: 1px solid #E2E2E4;
      font-size: 15px;
      cursor: pointer;
    }
  }

  &__content {
    padding: 30px;
    font-size: 14px;
    color: #3B3D4D;
    display: none;
  }
}

li.tab-active {
  color: #3B3D4D;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.table tbody{
  width: 100%;
}

td:first-child {
  text-align: right;
  padding-right: 10px;
  width: 25%;
}

td {
  padding-bottom: 5px;
}

.progress {
  padding: 5px 0;
  background-color: #3B3D4D;
  position: relative;
}

span {
  position: absolute;
  right: -27px;
  top: -3px;
}

.visible{
  display: block;
}